*.vo
*.vio
*.v.d
*.glob
*.cache
*.aux
*.vok
*.vos
\#*\#
.\#*
*~
*.bak
.coq-native/
Makefile.coq
Makefile.coq.conf
builddep
*.crashcoqide
.coqdeps.d
*.coq.d
.vscode/
_build/
.merlin
_opam
*.timing
.lia.cache
.nia.cache
.vscode/
**/proofs/*/generated*
**/proofs/*/dune
**/proofs/*/proof_files
TAGS
tags
*.code-workspace
